binding/lookup_version/src/main/xsd/ncip_version.xsd

<?xml version = "1.0" encoding = "UTF-8"?>

<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->

<!-- ........................................... -->
<!-- NISO Circulation Interchange Protocol ..... -->
<!-- ........................................... -->
<!--
Typical invocation:
  <!DOCTYPE NCIPVersionMessage PUBLIC "-//NISO//NCIP Version Discovery XML Schema//EN" "http://www.niso.org/ncip/v1_0/imp1/xsd/ncip_version.xsd">

Purpose:
  This file defines the XML Schema for the LookupVersion initiation & 
  response messages that allow applications to discover which
  version(s) of NCIP other applications support.

Dependencies:
  None.
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="NCIPVersionMessage">
        <xsd:complexType>
            <xsd:choice>
                <xsd:element ref="LookupVersion"/>
                <xsd:element ref="LookupVersionResponse"/>
            </xsd:choice>
            <xsd:attribute name="version" use="required" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LookupVersion">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="FromAgencyId"/>
                <xsd:element ref="ToAgencyId"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LookupVersionResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="FromAgencyId"/>
                <xsd:element ref="ToAgencyId"/>
                <xsd:element ref="VersionSupported" maxOccurs="unbounded"/>
                <xsd:element ref="ServiceSupported" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FromAgencyId">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="UniqueAgencyId"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Scheme" type="xsd:string"/>
    <xsd:element name="ToAgencyId">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="UniqueAgencyId"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UniqueAgencyId">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Scheme"/>
                <xsd:element ref="Value"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Value" type="xsd:string"/>
    <xsd:element name="VersionSupported" type="xsd:string"/>
    <xsd:element name="ServiceSupported" type="xsd:string"/>
</xsd:schema>
